<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="song.personal.dessin" >

    <!-- 안드로이드에 권한 추가 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".Dessin"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 스플래시 액티비티 -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash" >
        </activity>
        <!-- 선 다이얼로그 -->
        <activity
            android:name=".BrushDialog"
            android:label="@string/title_activity_brush_dialog"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <!-- 색상 다이얼로그 -->
        <activity
            android:name=".ColorDialog"
            android:label="@string/title_activity_color_dialog"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <!-- 설정 액티비티-->
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <!--지우개 다이얼로그-->
        <activity
            android:name=".EraseDialog"
            android:label="@string/title_activity_erase_dialog"
            android:theme="@android:style/Theme.Dialog">
        </activity>

    </application>

</manifest>
