<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="song.personal.dessin" >

    <!-- 안드로이드에 권한 주기 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Dessin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash" >
        </activity>
        <activity
            android:name=".brushDialog"
            android:label="@string/title_activity_brush_dialog" >
        </activity>
        <activity
            android:name=".Brush"
            android:label="@string/title_activity_brush" >
        </activity>
        <activity
            android:name=".BrushDialog"
            android:label="@string/title_activity_brush_dialog" >
        </activity>
    </application>

</manifest>
